.container{
    background-image: url('/src/images/img-7.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    width: 600px;
    padding-bottom: 30px;
    align-items: center;
    color: #fff;
}
.header{
    display: flex;
    flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px; 
}
.text{
    font-size: 40px;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    color: #fff;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    border-radius: 6px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 19px;
}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #fff;
    font-size: 18px;
}
.forgot-password span{
    color: #4c00b4;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
  
}
.b{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}
.gray{
    background: #EAEAEA;
    color: #4c00b4;
}
@media  screen and (max-width:760px){
    .container{
        width: 500px;
    }
}